$bottomPosition: -27px;

@media screen and (min-width: 320px) {
  .section-presspage {
    &__view {
      &.indent-down {
        margin-bottom: 166px;
      }
    }

    &__other {
      position: relative;

      .section-presspage__device {
        position: relative;
        height: 22vw;
        overflow: visible;

        img.section__image {
          position: absolute;
          top: 0;
          right: 10px;
          left: 10px;
          width: calc(100vw - 20px);
          z-index: 10;
        }
      }

      .section-presspage__content {
        position: relative;
        padding-top: 200px;
        padding-bottom: 100px;
        background-color: #151923;
        clip-path: polygon(0 2%, 100% 0, 100% 100%, 0% 100%);

        .section-presspage__pages {
          margin-bottom: 48px;
          overflow: hidden;
          &__image {
            opacity: 0;
            transition: 0.8s;
            width: 100%;

            &:first-child,
            &:nth-child(3) {
              transform: translateX(-100vw);
            }

            &:nth-child(2),
            &:last-child {
              transform: translateX(100vw);
            }

            &.-animate {
              transform: translateX(0);
              opacity: 1;
            }

            margin-bottom: 21px;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }

        .section-presspage__maps {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-column-gap: 20px;
          transition: 0.8s;
          opacity: 0;
          transform: translateY(150px);

          &.-animate {
            opacity: 1;
            transform: translateY(0);
          }

          &__images {
            display: flex;
            flex-flow: column nowrap;
            .section-presspage__image {
              width: 100%;
              margin-bottom: 17px;

              &:last-child {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .section-presspage {
    &__view {
      &.indent-down {
        margin-bottom: 340px;
      }
    }

    &__other {
      .section-presspage__device {
        height: 25vw;

        img.section__image {
          right: 25px;
          left: 25px;
          width: calc(100vw - 50px);
        }
      }

      .section-presspage__content {
        padding-top: 464px;
        padding-bottom: 183px;
        .section-presspage__pages {
          &__image {
            margin-bottom: 50px;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }

        .section-presspage__maps {
          grid-column-gap: 50px;
          &__images {
            .section-presspage__image {
              margin-bottom: 41px;

              &:last-child {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1600px) {
  .section-presspage {
    &__view {
      &.indent-down {
        margin-bottom: 340px;
      }
    }

    &__other {
      .section-presspage__device {
        margin: 0 auto;
        height: 333px;

        img.section__image {
          max-height: 666px;
          max-width: 1336px;
          right: -95px;
          left: unset;
        }
      }

      .section-presspage__content {
        clip-path: polygon(0 3%, 100% 0, 100% 100%, 0% 100%);
        padding-top: 464px;
        padding-bottom: 183px;

        &__fixed {
          display: grid;
          grid-template-columns: 425px 765px;
          grid-column-gap: 210px;
          margin-bottom: 67px;
          .section__presspage__content__sticky {
            position: relative;
            &.indent-down {
              margin-bottom: 0;
            }
            .section__text.section-presspage__content__text {
              top: 100px;
              width: 100%;
            }
          }
          .section-presspage__pages {
            margin-bottom: 0;
            &__image {
              width: 100%;
              margin-bottom: 50px;

              &:last-child {
                margin-bottom: 0;
              }
            }
          }
        }

        .section-presspage__maps {
          grid-column-gap: 62px;
          grid-template-columns: 1fr 1fr 1fr;
          &__images[data-view='desktop'] {
            display: flex !important;
            flex-flow: column nowrap;
            .section-presspage__image {
              margin-bottom: 53px;

              &:last-child {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
}
