@media screen and (min-width: 320px) {
  .section-end {
    padding-bottom: 140px;
    &__preview {
      height: 266px;
      background-repeat: no-repeat;
      background-position: 50% -110%;
      background-size: cover;
      background-image: url('../images/end-preview.png');
      opacity: 0.1;
      transition: 2.3s;

      &.-animate {
        opacity: 1;
        background-position: 50% 50%;
      }
    }

    &__content {
      font-family: Montserrat;
      font-style: normal;
      text-align: center;
      font-weight: normal;

      &__text {
        font-size: 14px;
        line-height: 32px;
        color: #ffffff;
        margin-bottom: 30px;
      }

      &__link {
        font-size: 10px;
        line-height: 12px;
        color: #ff3d13;
        padding-bottom: 2px;
        border-bottom: 1px solid rgba(255, 61, 19, 0.3);
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .section-end {
    padding-bottom: 315px;
    &__preview {
      height: 692px;
    }

    &__content {
      &__text {
        font-size: 28px;
        line-height: 50px;
        margin-bottom: 20px;
      }

      &__link {
        font-size: 16px;
        line-height: 20px;
        padding-bottom: 4px;
      }
    }
  }
}

@media screen and (min-width: 1600px) {
  .section-end {
    padding-bottom: 361px;
    &__preview {
      height: 100vh;
      max-height: 1380px;
    }
  }
}
