@media screen and (min-width: 320px) {
  .section-structure {
    &__container.container {
      padding: 0 20px;

      .section-structure__map {
        position: relative;
        width: calc(100vw - 40px);
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .section-structure {
    &__container.container {
      .section-structure__map {
        width: 492px;
        height: 1503px;
        margin: 0 auto;
      }
    }
  }
}
