@media screen and (min-width: 320px) {
  .section-palette {
    &__colors {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-auto-rows: 240px;
      overflow: hidden;

      .section-palette__color {
        position: relative;

        opacity: 0;
        transition: 0.6s;

        &:nth-child(odd) {
          transform: translateX(-100vw);
        }

        &:nth-child(even) {
          transform: translateX(100vw);
        }

        &.-animate {
          transform: translateX(0);
          opacity: 1;
        }

        &[data-color='#ffffff'] {
          &:before {
            text-transform: lowercase;
            color: #0c0f15;
          }
        }

        &[data-color='#fcc204'] {
          &:before {
            color: #151e30;
          }
        }

        &:before {
          position: absolute;
          left: 15px;
          bottom: 16px;
          content: attr(data-color);
          font-family: Montserrat;
          font-style: normal;
          text-transform: uppercase;
          font-weight: 600;
          font-size: 12px;
          line-height: 15px;
          color: #ffffff;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .section-palette {
    &__colors {
      grid-template-columns: 3.34fr 3.34fr 1fr;
      grid-auto-rows: 500px;

      .section-palette__color {
        transform: translate(0, 0);

        // Ordering
        &[data-color='#0c0cf15'] {
          order: 1;
        }

        &[data-color='#00529c'] {
          order: 2;
        }

        &[data-color='#004787'] {
          order: 3;
        }

        &[data-color='#ffffff'] {
          order: 4;
        }

        &[data-color='#151e30'] {
          order: 5;
        }

        &[data-color='#fcc204'] {
          order: 6;
        }

        &:before {
          left: 24px;
          bottom: 46px;
        }
      }
    }
  }
}

@media screen and (min-width: 1600px) {
  .section-palette {
    &__colors {
      grid-template-columns: 7.16fr 7.16fr 1.67fr;
      grid-auto-rows: 500px;

      .section-palette__color {
        &:before {
          left: 50px;
          bottom: 50px;
        }
      }
    }
  }
}
