@media screen and (min-width: 320px) {
  .section-main {
    padding-top: 138px;
    &__logo {
      display: block;
      width: 102px;
      height: 44px;
      fill: #ffffff;
      margin: 0 auto;
    }

    &__content {
      &__days {
        display: none;
      }
    }

    &__view {
      position: relative;
      overflow: hidden;
      background-image: url('../images/main-image.png');
      background-position: 54% 65px;
      background-repeat: no-repeat;
      height: 530px;
      background-size: auto 100%;
      transition: 0.8s;

      &.-animate {
        background-position: 54% 50%;
      }

      .rounds {
        position: relative;
        top: 85%;
        left: 65%;
        transform: translate(-65%, -85%);
        width: 488px;
        height: 250px;
        transition: 0.8s;

        &.-animate {
          top: 57%;
          left: 70%;
          transform: translate(-70%, -57%);
        }
        .round {
          &.little-sun-round {
            width: 31px;
            height: 31px;
            top: 20%;
            left: 0;
            transform: translate(0, -20%);
            background: radial-gradient(
              50% 50% at 50% 50%,
              rgba(255, 0, 0, 0.0001) 0%,
              rgba(255, 140, 140, 0.0001) 93.27%,
              rgba(255, 126, 126, 0.193264) 100%
            );
            mix-blend-mode: normal;
            opacity: 0.45;

            &:after {
              content: '';
              right: 15px;
              bottom: 10px;
              width: 18px;
              height: 18px;
              background: radial-gradient(
                50% 50% at 50% 50%,
                rgba(255, 255, 255, 0.0001) 0%,
                rgba(255, 255, 255, 0.0196409) 49.2%,
                rgba(255, 255, 255, 0.100115) 100%
              );
            }

            &:before {
              content: '';
              top: 10.5px;
              left: 10.5px;
              width: 11px;
              height: 11px;
              background: #a000ff;
              mix-blend-mode: normal;
              opacity: 0.3;
            }
          }

          &.big-sun-round {
            width: 208px;
            height: 208px;
            top: 45%;
            left: 22%;
            transform: translate(-22%, -45%);
            background-color: rgba(255, 160, 0, 0.05);
            mix-blend-mode: normal;

            &:after {
              content: '';
              top: 52px;
              left: 96px;
              width: 166px;
              height: 166px;
              opacity: 1;
              background: radial-gradient(
                50% 50% at 50% 50%,
                rgba(255, 0, 0, 0.0001) 0%,
                rgba(255, 140, 140, 0.0001) 93.27%,
                rgba(255, 126, 126, 0.0533217) 100%
              );
            }
          }

          &.middle-sun-round {
            width: 138px;
            height: 138px;
            top: 89%;
            left: 66%;
            transform: translate(-66%, -89%);
            background: radial-gradient(
              50% 50% at 50% 50%,
              rgba(255, 255, 255, 0.0001) 0%,
              rgba(255, 255, 255, 0.0196409) 49.2%,
              rgba(255, 255, 255, 0.100115) 100%
            );
            opacity: 0.6;
            z-index: 20;

            &:after {
              content: '';
              top: 57px;
              left: 80px;
              width: 59px;
              height: 59px;
              background: radial-gradient(
                50% 50% at 50% 50%,
                rgba(255, 0, 0, 0.0001) 0%,
                rgba(255, 140, 140, 0.0001) 93.27%,
                rgba(255, 126, 126, 0.193264) 100%
              );
            }
          }

          &.small-sun-round {
            width: 59px;
            height: 59px;
            top: 90%;
            left: 85%;
            transform: translate(-85%, -90%);
            background: radial-gradient(
              50% 50% at 50% 50%,
              rgba(255, 255, 255, 0.0001) 0%,
              rgba(255, 255, 255, 0.0196409) 49.2%,
              rgba(255, 255, 255, 0.100115) 100%
            );
            opacity: 0.5;

            &:after {
              content: '';
              top: 16px;
              left: 29px;
              width: 42px;
              height: 42px;
              background: #00ffc6;
              mix-blend-mode: normal;
              opacity: 0.03;
            }

            &:before {
              content: '';
              right: -21px;
              bottom: 3px;
              width: 18px;
              height: 18px;
              background: radial-gradient(
                50% 50% at 50% 50%,
                rgba(255, 0, 0, 0.0001) 0%,
                rgba(255, 140, 140, 0.0001) 93.27%,
                rgba(255, 126, 126, 0.193264) 100%
              );
            }
          }

          &.small-sun-round-two {
            width: 59px;
            height: 59px;
            bottom: 0;
            right: 0;
            background: radial-gradient(
              50% 50% at 50% 50%,
              rgba(255, 0, 0, 0.0001) 0%,
              rgba(255, 140, 140, 0.0001) 93.27%,
              rgba(126, 153, 255, 0.193264) 100%
            );

            &:after {
              content: '';
              top: 16px;
              left: 22px;
              width: 31px;
              height: 31px;
              background: radial-gradient(
                50% 50% at 50% 50%,
                rgba(255, 255, 255, 0.0001) 0%,
                rgba(255, 255, 255, 0.0196409) 49.2%,
                rgba(255, 255, 255, 0.100115) 100%
              );
              mix-blend-mode: normal;
              opacity: 0.5;
            }

            &:before {
              content: '';
              top: 35px;
              left: 46px;
              width: 12px;
              height: 12px;
              background: #00ffc6;
              mix-blend-mode: normal;
              opacity: 0.03;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .section-main {
    padding-top: 200px;

    &.indent-down {
      margin-bottom: 250px;
    }
    &__logo {
      width: 203px;
      height: 88px;
    }

    &__view {
      height: 918px;
      background-position: 50% 50%;
      .rounds {
        top: 52%;
        left: 60%;
        transform: translate(-60%, -52%) scale(1.74) !important;

        &.-animate {
          top: 57%;
          left: 70%;
          transform: translate(-70%, -57%);
        }
      }
    }
  }
}

@media screen and (min-width: 1600px) {
  .section-main {
    padding-top: 250px;

    &.indent-down {
      margin-bottom: 168px;
    }

    &__content {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;

      &__days {
        display: block;
        text-align: right;
        margin-right: 126px;

        .days {
          top: 20px;
          transform: translateY(30px);
          opacity: 0;
          transition: 0.8s;

          &.-animate {
            opacity: 1;
            transform: translateY(0);
          }
          p {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 200px;
            line-height: 244px;
            color: #0c0f15;
            -webkit-text-stroke: 0.4px rgba(255, 255, 255, 0.582004);
          }
        }
      }
    }

    &__view {
      height: 918px;
      background-position: 50% 50%;
      .rounds {
        top: 45%;
        left: 62%;
        transform: translate(-45%, -65%) scale(2.79) !important;

        &.-animate {
          top: 50%;
          left: 55%;
          transform: translate(-50%, -55%);
        }
      }
    }
  }
}
