doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(
      name='viewport',
      content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0'
    )
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Презентация редизайна "Бронка Групп"
  body.body

    mixin svg_icon(svg_url)
      svg&attributes(attributes)
        use(xlink:href=svg_url)

    // Section Main
    include ../components/section-main
    // Section Structure
    include ../components/section-structure
    // Section Palette
    include ../components/section-palette
    // Section FirstPage
    include ../components/section-firstpage
    // Section PressPage
    include ../components/section-presspage
    // Section End
    include ../components/section-end
