- let image = require("../images/structure-map.png");
section#section-structure.section.section-structure.indent-down
  .section-structure__container.container
    h2.section__title.section-structure__title Внешняя структура
    .section-structure__map
      img(src=image, data-big=image).section__image.section-structure__map__image
