section#section-main.section.section-main.indent-down
  .section-main__container
    +svg_icon(require("../images/bronka-logo.svg").default).section-main__logo
    .section-main__view
      .rounds
        .round.little-sun-round
        .round.big-sun-round
        .round.middle-sun-round
        .round.small-sun-round
        .round.small-sun-round-two
    .section-main__content.container
      .section-main__content__days
        .days.sticky
          p#counter-days 0
          p дней
      .section-main__content__info
        p.section__text.section-main__text Бронка Групп – одна из крупнейших коммерческих структур в Санкт-Петербурге, в которой работают более 5000 человек, успешно реализующая проекты в различных областях бизнеса: промышленность, сфера услуг, общественное питание, fashion-индустрия, развитие недвижимости.
        p.section__text.section-main__text Все элементы дизайна, включая эффекную 3d графику, сдержанную типорафику, приглушенную цветовую палитру с яркими акцентами объеденены/совмещены, чтобы усилить эффект престижности, масштабности и эффективности Бронка Групп
