section#section-end.section.section-end
  .section-end__preview.indent-down
  .section-end__content
    h3.section-end__content__text Спасибо за внимание!
    a.section-end__content__link(href='https://www.bronkagroup.ru/', target='_blank') Перейти на сайт
