section#section-firstpage.section.section-firstpage.indent-down
  .section-firstpage__container.container.section__column-center
    h2.section__title.section-firstpage__title Главная страница
    .section-firstpage__view.indent-down
      img.section__image.section-firstpage__view__img(src=require("../images/firstpage-screen.png"))
    .section-firstpage__content
      p.section__text.section-firstpage__text Один из важных разделов – Пресс-центр. Журналисты являются третьей по кол-ву целевой аудиторией.
      p.section__text.section-firstpage__text В cake.ru совместно с представителями Бронка групп была разработана удобная система навигации по фото- и видео-материалам компании. Новостной раздел разбит на 6 главных напралений …
