- let pages = [require("../images/bronka_pages2.png"), require("../images/bronka_pages3.png"), require("../images/bronka_pages4.png"), require("../images/bronka_pages5.png")];
- let map1 = require('../images/sitemap.png')
- let map2 = require('../images/sitemap copy.png')
- let map3 = require('../images/sitemap copy 2.png')
- let map4 = require('../images/sitemap copy 3.png')
- let map5 = require('../images/sitemap copy 4.png')
- let map6 = require('../images/sitemap copy 5.png')
- let map7 = require('../images/sitemap copy 6.png')
- let maps = [
- { view: "mobile", images: [map3, map6, map2] },
- { view: "mobile", images: [map1, map4, map7, map5] },
- { view: "desktop", images: [map3, map6] },
- { view: "desktop", images: [map1, map3, map7] },
- { view: "desktop", images: [map4, map2] }
- ];

section#section-presspage.section.section-presspage
  .section-presspage__container
    h2.section__title.section-presspage__title Раздел Пресс-центр
    .section-presspage__view.indent-down.container.section__column-center
      img.section__image.section-presspage__view__img(src=require("../images/presspage-screen.png"))

    .section-presspage__other

      .section-presspage__device.container
        img.section__image.floating.section__presspage__device__image(src=require("../images/ipad-press.png"))
      .section-presspage__content
        .section-presspage__content-container.container
          .section-presspage__content__fixed
            .section__presspage__content__sticky.indent-down
              p.section__text.section-presspage__content__text.sticky Отличительной особенностью компании является ее технический подход к работе. Еженевно MasterProf обрабатывает гигабайты данных на основе которых формируется модель развития ассортимента, ценообразование и активаная матрица товаров в различных регионах России.
            .section-presspage__pages
              each page in pages
                img.section-presspage__pages__image(src=page)
          .section-presspage__maps
            each map in maps
              .section-presspage__maps__images(data-view=map.view)
                each image in map.images
                  img.section-presspage__image(src=image)
