- let colors = ["#0c0f15", "#00529c", "#ffffff", "#151e30", "#004787", "#fcc204"];

mixin color(color)
  .section-palette__color(data-color=color, title=`Цвет ${color}`, style=`background-color:${color}`)

section#section-palette.section.section-palette.indent-down
  .section-palette__container
    h2.section__title.section-palette__title Цветовая схема
    .section-palette__colors.indent-down
      each color in colors
        +color(color)

    .section__column-center.section-palette__content.container
      p.section__text.section-palette__text.indent-down Одной из главных задач от главной страницы было создание сильного впечатления, эмоции масштабности и весомости компании.
      img.section__image.section-palette__image.indent-down(src=require("../images/imac-site.png"))
      p.section__text.section-palette__text Символ Бронка – планета Земля, был взят за основу интерактивной модели, визуализированной в браузере при помощи графической библиотеки WebGL и Three.js. Управление обзором при помощи мыши или жестами на мобильных устройствах, увеличивет силу эмоции и приглашает изучить как саму интерактивную модель, так и сайт в целом.
