* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body.body {
  position: relative;
  background-color: #0c0f15;
}

.sticky {
  position: sticky;

  &:before,
  &:after {
    content: '';
    display: table;
  }
}

@media screen and (min-width: 320px) {
  .section {
    &__title {
      text-align: center;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 15px;
      color: #ffffff;
      margin-bottom: 46px;
      opacity: 0;
      transform: translateY(45px);
      transition: 0.8s;

      &.-animate {
        opacity: 1;
        transform: translateY(0);
      }
    }

    &__column-center {
      display: flex;
      align-items: center;
      flex-flow: column nowrap;
    }

    &__text {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 32px;
      color: #ffffff;
      margin-bottom: 20px;
      transform: translateY(150px);
      opacity: 0;
      transition: 0.8s;

      &.-animate {
        transform: translateY(0px);
        opacity: 1;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__image {
      width: 100%;
      transform: translateY(100px) scale(0.95);
      opacity: 0;
      transition: 0.8s;

      &.floating {
        opacity: 0.1;

        &.-animate {
          opacity: 1;
        }
      }

      &.-animate {
        transform: translateY(0) scale(1);
        opacity: 1;
      }
    }
  }

  .zoomer {
    &-lens {
      width: 240px !important;
      height: 240px !important;
      background-color: #151923;

      &:after {
        position: absolute;
        content: '';
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 50%;
        z-index: 9999999;
        background: rgba(255, 255, 255, 0.03);
      }
    }
  }

  div.round {
    position: absolute;
    border-radius: 50%;
    z-index: 5;

    &:before {
      position: absolute;
      border-radius: 50%;
      z-index: 10;
    }

    &:after {
      position: absolute;
      border-radius: 50%;
      z-index: 15;
    }
  }

  *[data-view='desktop'] {
    display: none !important;
  }

  .indent-down {
    margin-bottom: 100px;
  }

  .container {
    width: 100%;
    padding: 0 10px;
  }
}

@media screen and (min-width: 768px) {
  .section {
    &__title {
      margin-bottom: 97px;
    }

    &__text {
      font-size: 28px;
      line-height: 50px;
      padding: 0 59px;
      margin-bottom: 35px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .zoomer {
    &-lens {
      width: 327px !important;
      height: 327px !important;
    }
  }

  .container {
    padding: 0 25px;
  }

  .indent-down {
    margin-bottom: 200px;
  }
}

@media screen and (min-width: 1600px) {
  .section {
    &__text {
      font-size: 28px;
      line-height: 50px;
      width: 682px;
      padding: 0;
      margin-bottom: 35px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__image {
      width: 1155px;
    }
  }

  *[data-view='mobile'] {
    display: none !important;
  }

  .container {
    width: 1400px;
    margin: 0 auto;
    padding: 0;
  }
}
